Package: z3
Version: 4.4.0
Section: base
Priority: extra
Architecture: amd64
Depends: python
Maintainer: Vytautas Astrauskas <vastrauskas@gmail.com>
Description: Z3 is a theorem prover from Microsoft Research.
